.left {
  float: left;
}
.right {
  float: right;
}
.continer {
  overflow: hidden;
}
.continer .listInfo,
.continer .listR {
  margin-top: 30px;
  width: 270px;
}
.continer .listInfo .grawBG,
.continer .listR .grawBG {
  padding: 25px 20px;
  border-radius: 5px;
  background: #f3f3f3;
}
.continer .listInfo .grawBG h2,
.continer .listR .grawBG h2 {
  font-size: 20px;
  color: #444;
  padding-left: 18px;
  line-height: 38px;
  font-weight: 900;
  border-bottom: 1px solid #a0a0a0;
}
.continer .listInfo .grawBG .grawDiv,
.continer .listR .grawBG .grawDiv {
  padding: 10px 18px;
  font-size: 16px;
  line-height: 1.7;
}
.continer .listInfo .grawBG .grawDiv p,
.continer .listR .grawBG .grawDiv p {
  padding-left: 15px;
}
.continer .listInfo {
  width: 700px;
  margin-bottom: 50px;
}
.continer .listInfo .grawBG .grawDiv {
  color: #535353;
}
.continer .listInfo .grawBG .grawDiv p {
  padding-left: 0px;
  padding-top: 10px;
  line-height: 1.8;
}
