* {
    margin: 0;
    padding: 0;
}

input {
    /* 边框改色 */
    /* outline-color: #e2dfdf;
    outline: none; */
    padding-left: 10px;
}

.box {

    background-color: white;
    /* margin-top: 30px; */
    padding: 25px 0 35px 0;

}

.content {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px #d7d7d7 solid;
}

form {
    width: 400px;
    margin: 50px auto 150px;
}

.content p {
    margin-top: 27px;
}

.content input {
    background: #f7f7f7;
    color: #a3a3a3;
    height: 50px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px #eee solid;
    border-radius: 10px;
}

#submit {
    background: #fe5341;
    color: #fff;
    border: medium none;
    width: 100%;
    cursor: pointer;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
}