/* 去默认边距 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ul 去默认样式 */
ul {
  list-style: none;
}
/* a链接 去下划线 改字体颜色 */
a {
  text-decoration: none;
  color: #2f2f2f;
}
/* input 去边框 */
input {
  outline: none;
  padding-left: 10px;
}
/* 清除浮动 */
.clearFix::after {
  clear: both;
  display: block;
  content: "";
}
/*版心*/
.continer {
  width: 1200px;
  margin: 0 auto;
}
/*第二部分*/
.title_box h1 {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-weight: 500;
}
.title_box .small_nav {
  text-align: center;
}
.title_box .small_nav a {
  display: inline-block;
  padding-bottom: 12px;
  width: 165px;
  font-size: 18px;
  color: #a3a3a3;
  padding: 30px 0;
}
.title_box .small_nav a:nth-of-type(2) {
  color: #fe5431;
  border-bottom: 4px #fe5431 solid;
  padding-bottom: 8px;
}
.ul_nav {
  width: 100%;
  border-top: 1px solid #f0f0f0;
  text-align: center;
}
.ul_nav ul {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
}
.ul_nav ul li {
  width: 25%;
  float: left;
}
.ul_nav ul li a {
  display: inline-block;
  width: 165px;
  font-size: 18px;
  color: #a3a3a3;
}
.ul_nav ul li .block {
  color: #474747;
}
