.continer {
  width: 1000px !important;
  height: auto;
  margin: 0 auto;
}

.continer h1 {
  text-align: center;
  padding: 34px;
  font-size: 40px;
  font-weight: 400;
}

.continer .new {
  text-align: center;
}

.continer .new a {
  display: inline-block;
  width: 165px;
  font-size: 18px;
  padding-bottom: 8px;
  color: #a3a3a3;
}

.continer .new a:nth-of-type(2) {
  color: red;
  border-bottom: 4px red solid;
}

.zan:hover {
  cursor: pointer;
}